alias d='docker'
alias g='git'
alias t="terraform"
alias k='kubectl'
alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Provide autocompletion for above aliases
. ~/.local/bin/complete_alias
complete -F _complete_alias "${!BASH_ALIASES[@]}"

alias a='aws-vault exec -n "$(aws-vault list --credentials | fzf)"'
alias p='find ~/proj -mindepth 1 -maxdepth 1 -type d -printf "%P\n" | fzf --preview "bat --color=always --style=numbers --line-range=:500 ~/proj/{1}/README.md 2>/dev/null || bat --color=always --style=numbers --line-range=:500 <<< \"No README\"" --preview-window=right,70% | xargs -I {} code ~/proj/{}'

alias ll='ls -alhF'
alias la='ls -A'
alias l='ls -CF'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# Changing config dirs
alias gdb='gdb -n -x "$XDG_CONFIG_HOME/gdb/init"'
alias rustscan='rustscan -c "$XDG_CONFIG_HOME/rustscan/rustscan.toml"'


alias dk='docker kill $(docker ps -a -q)'
alias dc="docker images -a | awk '{print $3}' | xargs docker rmi --force; docker images"
alias dex='function __myalias() { docker exec -it $1 bash; unset -f __myalias; }; __myalias'
alias dvolume='docker rm -f $(docker ps -a -q)'

alias bigdiff='git fetch origin master:master && git diff `git merge-base master $(git rev-parse --abbrev-ref HEAD)`..$(git rev-parse --abbrev-ref HEAD)'
alias opendiff='git fetch origin master:master && git diff `git merge-base master $(git rev-parse --abbrev-ref HEAD)`..$(git rev-parse --abbrev-ref HEAD) | grep "diff --git a/" | cut -d " " -f 3 | sed "s/..//" | xargs code'
alias gl1='git log --oneline --graph -10 --decorate'
alias gdifftree='git diff-tree --no-commit-id --name-only -r $1'
alias gbc="git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | grep -v '\*' #| xargs -r git branch -D"
alias gad="git commit --amend --no-edit --date=now"
alias gb='git branch --sort=-committerdate | sed "s/*/\ /g" | fzf --header "Checkout Recent Branch" --preview "git diff {1} --color=always" --pointer="➔" | xargs git checkout'
alias pr="GH_FORCE_TTY=100% gh pr list | fzf --ansi --preview 'GH_FORCE_TTY=100% gh pr view {1}' --preview-window down --header-lines 3 | awk '{print $1}' | xargs gh pr checkout"
alias coauthor='git log --pretty="Co-authored-by: %an <%ce>" | sort -u | fzf #| xargs -I @ bash -c "git commit --amend -m \"$(git log --format=%B -n1)\" -m \"@\""'

alias fs='du -hc --max-depth=1'
alias temp="paste <(cat /sys/class/thermal/thermal_zone*/type) <(cat /sys/class/thermal/thermal_zone*/temp) | column -s $'\t' -t | sed 's/\(.\)..$/.\1°C/'"
alias tldr='tldr --list | fzf --preview "tldr {1} --color=always" --preview-window=right,70% | xargs tldr'
alias wget=wget --hsts-file="$XDG_DATA_HOME/wget-hsts"
alias oha='oha --latency-correction --disable-keepalive'
alias up='python3 -m http.server'
